
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'authentifier</title>
     <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-style.css')}}">

</head>
<body  style="background-image: url('static/img/77.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;">
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-film mr-2"></i>
                Tunisia-HighTec
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="Accueil.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="Informatique.html">Informatique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="Télephonie&Tablette.html">Télephonie&Tablette</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="Tv&Son.html">Tv&Son</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="Reseau&Connectiques.html">Réseau&Connectiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="contact.html">Contact</a>
                </li>
                  <ul>
                          <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Connexion
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="Authentification.html">S'authentifier</a>
    <a class="dropdown-item" href="logout.html">Déconnexion</a>
    <a class="dropdown-item" href="Register.html">S'inscrire</a>
  </div>
</div>


                </ul>

            </ul>
            </div>
        </div>
        </nav>

        <div class="container-fluid tm-mt-60">
            <div class="row tm-mb-50">
                <div class="col-lg-4 col-12 mb-5">
                    <h2 class="tm-text-primary mb-5">S'authentifier</h2>
                    <form id="contact-form" action="" method="POST" class="tm-contact-form mx-auto">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control rounded-0" placeholder="Votre Login" required />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control rounded-0" placeholder="Votre Password" required />
                        </div>
                        {% if message is defined %}
                        <span style="color:red;">{{message}}</span>
                        {%endif%}



                        <div class="form-group tm-text-right">
                            <button type="submit" class="btn btn-primary">Connecter</button>
                        </div>
                    </form>
                </div>





        </footer>

          <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
        <script>
            $(window).on("load", function() {
                $('body').addClass('loaded');
            });
        </script>
            </div></div></body>
    </html>